.Rsvp {
    margin: 50px auto 100px auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: solid purple 2px; */
}

.watercolor {
    width: 50%;
    /* border: solid red 2px; */
}

.watercolor-image {
    width: 100%;
    /* border: solid orange 2px; */
}

.rsvp-form {
    /* border: solid blue 2px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* form {
    height: 100%;
} */

.bold {
    font-weight: bold;
}

.form-section {
    /* border: solid yellow 2px; */
    margin: 0 0;
}

.inputs {
    height: 100%;
    /* border: solid green 2px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 10%;
}

label {
    text-align: center;
    /* font-weight: bold; */
}

.name {
    /* border: solid lightblue 2px; */
} 

.guest-names {
    /* border: solid red 2px; */
    margin: 10px;
}

input {
    /* border: solid pink 2px; */
    margin: 10px 5px;
}

input:focus, textarea:focus {
    outline: none;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid black;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    padding: 0 3px;
}

input[type=text]::-webkit-input-placeholder {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
}

/* .first-input {
    border: solid red 2px;
    margin: 10px 5px;
} */

.plus-sign {
    /* border: solid yellow 2px; */
    height: 25px;
    width: 25px;
    margin: 5px;
}

.response {
    /* border: solid lime 2px; */
}

select {
    width: 50px;
    margin: 10px auto;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 0;
    /* appearance: none; */
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
}

select:focus {
    outline: none;
}

.select-rsvp {
    /* border: solid purple 2px; */
    width: 115px;
    /* height: 65px; */
}

/* .meals-all {
    border: solid teal 2px;
} */

.meal-question {
    text-align: center;
}

.meal-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0;
}

.name, .response, .guest-count, .meal-option, .diet {
    display: flex;
    flex-direction: column;
    /* border: solid yellow 2px; */
    margin: 10px 0;
}

textarea {
    margin: 10px 0;
    border: solid black 2px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
}

.submit-button {
    /* border: solid pink 2px; */
    display: flex;
    justify-content: center;
}

.submit {
    text-align: center;
    padding: 15px;
    color: white;
    background-color: black;
    border-style: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    border-radius: 10%;
}

@media screen and (max-width: 1125px) {
    .watercolor {
        display: none;
        width: 0%;
    }
    .rsvp-form {
        width: 100%;
    }
}

@media screen and (max-width: 414px) {
    .Rsvp {
        width: 85%;
    }
}
